<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>App - Components</title>
</head>
<body>
	<div><!-- container -->
		<div><!-- .photo-card -->
			<div><!-- .image -->
				<img src="img/img.png">
			</div>
			<div><!-- .heading -->
				<h2>PARQUE DO SÁBIA</h2>
				<h3>UBERLANDIA - MG</h3>
			</div>
			<div><!-- .description -->
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<div><!-- .action -->
				<a href="#">VISITAR</a>
			</div>
		</div><!-- end .photo-card -->
	</div>
</body>
</html>